<!DOCTYPE html>
<html>

    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>{{title}}</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="stylesheet" href="./styles/nav-bar.css">
        <link rel='stylesheet' type='text/css' media='screen' href={{stylesheet}}>
    </head>


    <body>
        <header>
            <a href="/" id="logo">Smart Money</a>
            <nav>
                {{#if isLoggedIn}}
                    <div id="initials-container">
                        <button id="initials">{{initials}}</button>
                        <div class="nav-bar-container">
                            <a href="/portfolio" id="portfolio-btn">Portfolio</a>
                            <a href="/statistics">Statistics</a>
                            <a href="/news">News</a>
                            <a href="/sign-out" id="sign-out">Sign Out</a>
                        </div>
                    </div>

                {{else}}
                    <div id="nav-bar-not-logged-in">
                        <a href="/news">News</a>
                        <a href="/statistics">Statistics</a>
                        <a href="/login" id="login">Login</a>
                    </div>
                {{/if}}
            </nav>
        </header>
        {{{body}}}
    </body>