<main>
    {{#if earnings}}
    <h1>Today's Earnings</h1>
    <div class="table-container">
        <table>
            <thead>
                <th>Company</th>
                <th>EPS Estimate</th>
                <th>Revenue Estimate</th>
            </thead>
            <tbody>
                {{#each earnings}}
                <tr>
                    <td>{{name}} ({{symbol}})</td>
                    {{#if epsEstimate}}
                    <td>{{epsEstimate}}</td>
                    {{else}}
                    <td>N/A</td>
                    {{/if}}
                    {{#if revenueEstimate}}
                    <td>{{revenueEstimate}}</td>
                    {{else}}
                    <td>N/A</td>
                    {{/if}}
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{/if}}
    </div>


    <script src="./scripts/home.js"></script>
</main>