<main>
    <form action="/news" method="post">
        <h1>Current News</h1>
        <fieldset>
            <legend>Get current news for a company</legend>
            <div>
                <label for="company-news">Enter Stock Ticker: </label>
                <input type="text" name="symbol" id="company-news">
            </div>
            <input type="submit">
        </fieldset>
    </form>
    {{#if displayData}}
    <section>
        {{#each displayData}}
        <div>
            <p class="headline">{{headline}}</p>
            {{#if image}}
            <img src="{{image}}" alt=" Company Image">
            {{else}}
            <img src='./images/nyse.jpg' alt="Company Image">
            {{/if}}
            <p class="summary">{{summary}}</p>
            <a href={{url}}>Link to Full Article</a>
        </div>
        {{/each}}
    </section>
    {{/if}}
</main>