<main>
    <h1>Stock Statistics</h1>
    <section class="form-section">
        <form action="/statistics" method="POST">
            <fieldset>
                <legend>Search by stock ticker to view financial statistics for one or more stocks</legend>
                <div class="stock-ticker-div">
                    <label for="ticker1">Stock Ticker: </label>
                    <input type="text" name="symbol1" id="ticker1" required>
                </div>
                <div id="stock-input2" class="stock-ticker-div">
                    <label for="ticker2">Stock Ticker: </label>
                    <input type="text" name="symbol2" id="ticker2">
                </div>
                <div id="add">+</div>
                <input type="submit">
            </fieldset>
        </form>
    </section>
    <section class="stats-section">
        {{#if statistics}}
            {{#each statistics}}
                <div class="company-container">
                    <h2>{{this.symbol}}</h2>
                    <div class="toggle-container">
                        <label for="quarterly">Quarterly</label>
                        <input type="radio" class="quarterly" checked>
                        <label for="annual">Annual</label>
                        <input type="radio" class="annual">
                    </div>
                    <div class="table-container table-quarterly">
                        <table>
                            <thead>
                                <th colspan="2">Financial Ratios (Quarterly)</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Earnings Per Share</th>
                                    <td>{{this.quarterly.eps.value}}</td>
                                </tr>
                                <tr>
                                    <th>EBIT Per Share</th>
                                    <td>{{this.quarterly.ebitPerShare.value}}</td>
                                </tr>
                                <tr>
                                    <th>Enterprise Value</th>
                                    <td>{{this.quarterly.ev.value}}</td>
                                </tr>
                                <tr>
                                    <th>Operating Margin</th>
                                    <td>{{this.quarterly.operatingMargin.value}}%</td>
                                </tr>
                                <tr>
                                    <th>Gross Margin</th>
                                    <td>{{this.quarterly.grossMargin.value}}%</td>
                                </tr>
                                <tr>
                                    <th>Book Value</th>
                                    <td>{{this.quarterly.bookValue.value}}</td>
                                </tr>
                                <tr>
                                    <th>Price-to-Book</th>
                                    <td>{{this.quarterly.pb.value}}</td>
                                </tr>
                                <tr>
                                    <th>Price-to-Earnings TTM</th>
                                    <td>{{this.quarterly.pe.value}}</td>
                                </tr>
                                <tr>
                                    <th>Price-to-Sales TTM</th>
                                    <td>{{this.quarterly.ps.value}}</td>
                                </tr>
                                <tr>
                                    <th>Cash Ratio</th>
                                    <td>{{this.quarterly.cashRatio.value}}</td>
                                </tr>
                                <tr>
                                    <th>Current Ratio</th>
                                    <td>{{this.quarterly.currentRatio.value}}</td>
                                </tr>
                                <tr>
                                    <th>Quick Ratio</th>
                                    <td>{{this.quarterly.quickRatio.value}}</td>
                                </tr>
                                <tr>
                                    <th>Return on Assets TTM</th>
                                    <td>{{this.quarterly.roa.value}}%</td>
                                </tr>
                                <tr>
                                    <th>Return on Equity TTM</th>
                                    <td>{{this.quarterly.roe.value}}%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-container table-annual hide-table">
                        <table>
                            <thead>
                                <th colspan="2">Financial Ratios (Annual)</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Earnings Per Share</th>
                                    <td>{{this.annual.eps.value}}</td>
                                </tr>
                                <tr>
                                    <th>EBIT Per Share</th>
                                    <td>{{this.annual.ebitPerShare.value}}</td>
                                </tr>
                                <tr>
                                    <th>Enterprise Value</th>
                                    <td>{{this.annual.ev.value}}</td>
                                </tr>
                                <tr>
                                    <th>Operating Margin</th>
                                    <td>{{this.annual.operatingMargin.value}}%</td>
                                </tr>
                                <tr>
                                    <th>Gross Margin</th>
                                    <td>{{this.annual.grossMargin.value}}%</td>
                                </tr>
                                <tr>
                                    <th>Book Value</th>
                                    <td>{{this.annual.bookValue.value}}</td>
                                </tr>
                                <tr>
                                    <th>Price-to-Book</th>
                                    <td>{{this.annual.pb.value}}</td>
                                </tr>
                                <tr>
                                    <th>Price-to-Earnings</th>
                                    <td>{{this.annual.pe.value}}</td>
                                </tr>
                                <tr>
                                    <th>Price-to-Sales</th>
                                    <td>{{this.annual.ps.value}}</td>
                                </tr>
                                <tr>
                                    <th>Cash Ratio</th>
                                    <td>{{this.annual.cashRatio.value}}</td>
                                </tr>
                                <tr>
                                    <th>Current Ratio</th>
                                    <td>{{this.annual.currentRatio.value}}</td>
                                </tr>
                                <tr>
                                    <th>Quick Ratio</th>
                                    <td>{{this.annual.quickRatio.value}}</td>
                                </tr>
                                <tr>
                                    <th>Return on Assets</th>
                                    <td>{{this.annual.roa.value}}%</td>
                                </tr>
                                <tr>
                                    <th>Return on Equity</th>
                                    <td>{{this.annual.roe.value}}%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-container">
                        <table>
                            <thead>
                                <th colspan="2">Financial Statistics</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Market Cap</th>
                                    <td>{{this.stats.marketCap}}</td>
                                </tr>
                                <tr>
                                    <th>Revenue Per Share Annual</th>
                                    <td>{{this.stats.revenuePerShareAnnual}}</td>
                                </tr>
                                <tr>
                                    <th>Revenue Per Share TTM</th>
                                    <td>{{this.stats.revenuePerShareTTM}}</td>
                                </tr>
                                <tr>
                                    <th>Revenue Growth Quarterly Yoy</th>
                                    <td>{{this.stats.revenueGrowthQuarterlyYoy}}%</td>
                                </tr>
                                <tr>
                                    <th>Revenue Growth TTM Yoy</th>
                                    <td>{{this.stats.revenueGrowthTTMYoy}}%</td>
                                </tr>
                                <tr>
                                    <th>Revenue Growth 3Y</th>
                                    <td>{{this.stats.revenueGrowth3Y}}%</td>
                                </tr>
                                <tr>
                                    <th>Revenue Growth 5Y</th>
                                    <td>{{this.stats.revenueGrowth5Y}}%</td>
                                </tr>
                                <tr>
                                    <th>Earnings Per Share Annual</th>
                                    <td>{{this.stats.epsAnnual}}</td>
                                </tr>
                                <tr>
                                    <th>Earnings Per Share Growth Quarterly</th>
                                    <td>{{this.stats.epsGrowthQuarterlyYoy}}%</td>
                                </tr>
                                <tr>
                                    <th>Earnings Per Share Growth TTM</th>
                                    <td>{{this.stats.epsGrowthTTMYoy}}%</td>
                                </tr>
                                <tr>
                                    <th>Earnings Per Share Growth 3Y</th>
                                    <td>{{this.stats.epsGrowth3Y}}%</td>
                                </tr>
                                <tr>
                                    <th>Earnings Per Share Growth 5Y</th>
                                    <td>{{this.stats.epsGrowth5Y}}%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            {{/each}}
        {{/if}}
    </section>
    <script src="scripts/statistics.js"> </script>
</main>